@charset "UTF-8";

.allcontent {
	width: 1050px;
	margin: 0 auto;

}

/* 화면 중앙 정렬 스타일 */
.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 80px 0px
}

/* 로그인 제목 스타일 */
.login-title {
	font-weight: 800;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
}

/* 로그인 폼 영역 스타일 */
.login-form {
	width: 340px;
	margin: 0 auto;
	letter-spacing: -0.6px;
}

/* 입력 필드 컨테이너 스타일 */
.input-container {
	margin-top: 30px;
}

/* 입력 필드 스타일 */
.input-field {
	height: 54px;
	font-size: 14px;
}

/* 첫 번째 입력 필드의 아래 여백 */
.input-field:first-of-type {
	margin-bottom: 5px;
}

/* 입력 필드 라벨 컨테이너 스타일 */
.input-wrapper {
	padding-bottom: 12px;
}

/* 입력 필드 라벨 스타일 */
.input-wrapper input {
	height: 54px;
	font-size: 14px;
}

/* 첫 번째 입력 필드 라벨의 아래 여백 */
.input-wrapper:first-of-type {
	margin-bottom: 5px;
}

/* 입력 필드 스타일 */
.input-wrapper {
	position: relative;
	height: 48px;
}

/* 입력 필드 스타일 */
.input-field {
	width: 100%;
	height: 46px;
	padding: 0 11px 1px 15px;
	border-radius: 4px;
	border: 1px solid #ddd;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	outline: none;
	box-sizing: border-box;
}

/* 입력 필드 placeholder 스타일 */
.input-field::placeholder {
	color: #ccc;
}

/* 입력 필드 포커스 스타일 */
.input-field:focus {
	border: 1px solid #333;
	background: none;
}

/* 비활성화된 입력 필드 스타일 */
.input-field:disabled {
	opacity: 1;
	background-color: #fafafa;
	color: #999;
}

/* 비활성화된 입력 필드 placeholder 스타일 */
.input-field:disabled::placeholder {
	color: #999;
}

/* 아이디/비밀번호 찾기 링크 영역 스타일 */
.link-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
	font-size: 13px;
}

/* 아이디 찾기 링크 스타일 */
.find-username-link,
.find-password-link {
	color: #333;
	text-decoration: none;
	/* 밑줄 제거 */
}

/* 분리선 스타일 */
.divider {
	width: 1px;
	height: 10px;
	margin: 3px 6px 0;
	background-color: #333;
}

/* 로그인/회원가입 버튼 영역 스타일 */
.button-container {
	margin-top: 15px;
}

/* 로그인 버튼 스타일 */
.login-button {
	display: block;
	padding: 0 10px;
	text-align: center;
	overflow: hidden;
	margin-top: 15px;
	width: 100%;
	height: 54px;
	border-radius: 5px;
	color: #fff;
	background-color: hotpink;
	border: 0 none;
}
.login-button span{
	color: #fff;
}
/* 버튼 활성화 상태일 때 커서 활성화 */
.login-button:not([disabled]):hover {
	cursor: pointer;
}

/* 비활성화된 로그인 버튼 스타일 */
.login-button:disabled {
	background-color: #ddd;
}

/* 버튼 텍스트 스타일 */
.button-text {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
}

/* 회원가입 버튼 스타일 */
.signup-button {
	display: block;
	padding: 0 10px;
	text-align: center;
	overflow: hidden;
	margin-top: 10px;
	width: 100%;
	height: 54px;
	border-radius: 3px;
	color: #000;
	background-color: hotpink;
	border: 1px solid black;
	cursor: pointer;
}

/* 비활성화된 회원가입 버튼 스타일 */
.signup-button:disabled {
	border-color: #ddd;
	color: #000;
}

.css-1ymrnwr {
	padding-top: 30px;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}

.css-ate73y {
	width: 50px;
	height: 50px;
	display: block;
	margin: 17px 12px 16px 0px;
}

.css-1jlgal3 {
	display: block;
	padding-top: 4px;
	font-weight: 400;
	font-size: 18px;
	color: #999;
	line-height: 18px;
	padding-bottom: 12px
}


.css-1kkr6j1 {
	padding-top: 28px;
	font-weight: 500;
	font-size: 21px;
	line-height: 21px;
}


.css-1qp8f6i {
	display: flex;
}

.g-recaptcha { transform:scale(1.123); transform-origin:0 0; }