/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.datepicker td, .datepicker th {
  width: 3rem;
  height: 3rem;
  font-size: 1.1rem;
}
.bootstrap-timepicker-widget table td .bootstrap-timepicker-hour, .bootstrap-timepicker-widget table td .bootstrap-timepicker-minute{
  font-size: 1.2rem;
}

.datepicker {
  margin-bottom: 0.9rem;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.input-group {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #eee;
}

input.form-control {
  border-radius: 10px 0 0 10px;
  border: none;
}

input.form-control:focus {
  box-shadow: none;
}

input.form-control::placeholder {
  font-style: italic;
}

.input-group-text {
  border-radius: 0 30rem 30rem 0;
  border: none;
  cursor: pointer;
}

.datepicker-dropdown {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover{
  background-image: none;
  background-color: #359492 !important;
  border-radius: 50px;
}

.todayText:before {
  content: "Today's Date"
}