<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
        integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/base.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/rome.css">
    <title>지도</title>
    <script type="text/javascript"
        src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=x2e6y91tpy&amp;submodules=panorama,geocoder,drawing,visualization"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
    <script src="/main.js"></script>
</head>

<body style="margin: 0; padding:0">
    <!--<div style="margin: 40px;">따릉이 지도 불러오기기</div>-->
    <div id="map">
        <div id="map_info">
            <div id="map_info_left">
                <div class="left_head">
                    <a href="/" class="left_menu left_menu01">
                        <div class="flex_center">
                            <span class="material-symbols-rounded">map</span>
                            <p class="menu_name">홈</p>
                        </div>
                    </a>
                    <a href="" class="left_menu left_menu02">
                        <div class="flex_center">
                            <span class="material-symbols-rounded">sms</span>
                            <p class="menu_name">채팅</p>
                        </div>
                    </a>
                    <a href="" class="left_menu left_menu03">
                        <div class="flex_center">
                            <span class="material-symbols-rounded">group</span>
                            <p class="menu_name">커뮤니티</p>
                        </div>
                    </a>
                    <a href="" class="left_menu left_menu04">
                        <div class="flex_center">
                            <span class="material-symbols-rounded">description</span>
                            <p class="menu_name">공지사항</p>
                        </div>
                    </a>
                    <a href="" class="left_menu left_menu05">
                        <div class="flex_center">
                            <span class="material-symbols-rounded">home</span>
                            <p class="menu_name">마이페이지</p>
                        </div>
                    </a>
                </div>
                <div id="map_data_info">
                    <div class="map_data_top">
                        <div id="search">
                            <form action="/search">
                                <label for="ser_title" class="away">검색어 입력</label>
                                <input type="hidden" name="searchName" value="model" />
                                <input type="text" class="search_text" placeholder="대여소명을 입력해주세요" name="searchValue"
                                    id="ser_title">
                                <button type="submit" class="search_btn">
                                    <span class="material-symbols-rounded"
                                        style="font-size: 25px; color:#999">search</span>
                                </button>
                            </form>
                        </div>
                        <div class="bicycle_info flex">
                            <div style="width: 25px;"></div>
                            <div id="map_data_cont"></div>
                            <span class="material-symbols-rounded close_btn">close</span>
                        </div>
                    </div>
                    <div id="map_data_cont2"></div>
                    <div class="map_data_bottom">
                        <div class="date_time">
                            <p class="map_data_title">잔여 대수 예측하기</p>
                            <div class="datepicker date input-group p-0 shadow-sm">
                                <input type="text" placeholder="날짜를 선택해주세요" class="form-control py-3 px-3"
                                    id="reservationDate">
                                <div class="input-group-append"><span
                                        class="material-symbols-rounded fs20 fw400 input-group-text px-3"
                                        style="color: #114344;">event_available</span>
                                </div>
                            </div>
                            <div class="time">
                                <div class="form-group">
                                    <div class="input-group time shadow-sm" id="timepicker">
                                        <input type="text" class="form-control py-3 px-3" placeholder="시간을 선택해주세요" />
                                        <span class="input-group-append">
                                             <span class="material-symbols-rounded fs20 fw400 input-group-text px-3" style="color: #114344;">schedule</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="pred_cont">
                                <form action="" id="pred_form">
                                    <button id="pred_btn">예측하기</button>
                                </form>
                            </div>
                            <div id="result_cont">
                                <p class="map_data_title">잔여 대수 예측결과</p>
                                <div class="result_data flex">
                                    <div class="return_data">
                                        <p class="flex2">
                                            <span class="material-symbols-rounded fs25 fw400 red" style="width: 22px;">arrow_drop_up</span>
                                            <span class="red">예상 반납건수</span>
                                        </p>
                                        <p><span class="return_num">10</span>건</p>
                                    </div>
                                    <div class="rental_data">
                                        <p class="flex2">
                                            <span class="material-symbols-rounded fs25 fw400 blue" style="width: 22px;">arrow_drop_down</span>
                                            <span class="blue">예상 대여건수</span>
                                        </p>
                                        <p><span class="return_num">5</span>건</p>
                                    </div>
                                </div>
                                <div class="result_count flex">
                                    <p>따릉이 예측 잔여 대수</p>
                                    <p><span class="count">4</span>대</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="map_info_right">
                <div class="user_icon icon_box">
                    <a href=""><span class="material-icons">account_circle</span></a>
                </div>
                <div class="gps_icon icon_box">
                    <span class="material-icons" style="cursor: pointer;">gps_fixed</span>
                </div>
                <div class="bicycle_icon icon_box">
                    <span class="material-symbols-rounded fw500"
                        style="font-size: 25px; cursor:pointer;">directions_bike</span>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let markerData = [];
    let map;

    // addMarkerData 함수 정의
    function addMarkerData(markerData, station) {
        let markerInfo = {
            stationName: station.stationName,
            parkingBikeTotCnt: station.parkingBikeTotCnt
        };
        markerData.length = 0; // 기존 데이터 초기화
        markerData.push(markerInfo);
    }

    // updateMapInfo 함수 정의
    function updateMapInfo() {
        let mapDataInfo = document.getElementById('map_data_cont');
        let mapDataInfo2 = document.getElementById('map_data_cont2');
        mapDataInfo.innerHTML = '';
        mapDataInfo2.innerHTML = '';

        markerData.forEach(function (info) {
            let infoDiv = document.createElement('div');
            infoDiv.textContent = info.stationName;
            infoDiv.classList.add('bicycle_name');
            mapDataInfo.appendChild(infoDiv);
        });
        markerData.forEach(function (info) {
            let infoDiv = document.createElement('div');
            infoDiv.innerHTML = '<p class="bicycle_count">' + '현재 따릉이 잔여 대수 ' + '<span>' + info.parkingBikeTotCnt + '대' + '</span>' + '</p>';
            mapDataInfo2.appendChild(infoDiv);
        });
    }


    document.addEventListener('DOMContentLoaded', async function () {
        let XY = await getLocation();

        var mapOptions = {
            scaleControl: false,
            logoControl: false,
            mapDataControl: false,
            zoomControl: true,
            minZoom: 6,
            center: new naver.maps.LatLng(37.49599969478604, 127.03292823149238),
            zoom: 15,

            mapTypeControl: true,
            mapTypeControlOptions: {
                style: naver.maps.MapTypeControlStyle.BUTTON,
                position: naver.maps.Position.BOTTOM_RIGHT
            },
            zoomControl: true,
            zoomControlOptions: {
                style: naver.maps.ZoomControlStyle.SMALL,
                position: naver.maps.Position.BOTTOM_RIGHT
            },
            scaleControl: true,
            scaleControlOptions: {
                position: naver.maps.Position.RIGHT_CENTER
            },
            logoControl: true,
            logoControlOptions: {
                position: naver.maps.Position.BOTTOM_LEFT
            },
            mapDataControl: true,
            mapDataControlOptions: {
                position: naver.maps.Position.BOTTOM_LEFT
            }
        }

        var mapDiv = document.getElementById('map');
        var map = new naver.maps.Map(mapDiv, mapOptions);

        $.ajax({
            url: "/map_list",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (data) {
                console.log(data);

                // 공공 API에서 받은 위도와 경도
                let lat = data.rentBikeStatus.row[0].stationLatitude;
                let lng = data.rentBikeStatus.row[0].stationLongitude;

                // 공공 API에서 받은 위도와 경도를 이용하여 주소 얻기
                naver.maps.Service.reverseGeocode({
                    location: new naver.maps.LatLng(lat, lng)
                }, function (status, response) {
                    let result = response.result;
                    let items = result.items;
                    let juso = items[0].addrdetail.sigugun;
                    console.log(juso); // 시구군
                });

                // 제외할 대여소 아이디
                let includedIds = [
                    'ST-814', 'ST-1181', 'ST-1879', 'ST-1245', 'ST-799', 'ST-1703', 'ST-1680', 'ST-1575', 'ST-1885',
                    'ST-777', 'ST-1559', 'ST-1247', 'ST-1897', 'ST-1895', 'ST-960', 'ST-1880', 'ST-966', 'ST-1574', 'ST-1896',
                    'ST-953', 'ST-797', 'ST-804', 'ST-1407', 'ST-1560', 'ST-818', 'ST-795', 'ST-787', 'ST-791', 'ST-1888',
                    'ST-1578', 'ST-1892', 'ST-812', 'ST-1679', 'ST-807', 'ST-802', 'ST-1364', 'ST-1184', 'ST-1433', 'ST-822',
                    'ST-1171', 'ST-1884', 'ST-784', 'ST-798', 'ST-816', 'ST-782', 'ST-794', 'ST-820', 'ST-810', 'ST-1887',
                    'ST-821', 'ST-1571', 'ST-1566', 'ST-796', 'ST-1704', 'ST-1365', 'ST-1178', 'ST-956', 'ST-1893', 'ST-1889',
                    'ST-937', 'ST-1886', 'ST-790', 'ST-1174', 'ST-783', 'ST-1576', 'ST-811', 'ST-1248', 'ST-1573', 'ST-809',
                    'ST-786', 'ST-793', 'ST-959', 'ST-1246', 'ST-954', 'ST-792', 'ST-779', 'ST-1564', 'ST-815', 'ST-963',
                    'ST-1177', 'ST-1366', 'ST-1172', 'ST-1180', 'ST-803', 'ST-958', 'ST-806', 'ST-1882', 'ST-1563', 'ST-1894',
                    'ST-1182', 'ST-1562', 'ST-1891', 'ST-957', 'ST-1565', 'ST-1185', 'ST-962', 'ST-1179', 'ST-1568', 'ST-1881',
                    'ST-1561', 'ST-801', 'ST-817', 'ST-961', 'ST-778'
                ];


                // 대여소 정보를 반복하면서 지도에 마커 표시 (강남구만 필터링)
                let markerCount = 0;
                let markers = []; // 마커를 저장할 배열

                data.rentBikeStatus.row.forEach(function (station) {
                    if (includedIds.includes(station.stationId)) {
                        let marker = new naver.maps.Marker({
                            position: new naver.maps.LatLng(station.stationLatitude, station.stationLongitude),
                            map: map
                        });

                        // 마커를 배열에 저장
                        markers.push(marker);

                        // 마커 클릭 시 정보를 map_info에 추가
                        naver.maps.Event.addListener(marker, "click", function (e) {
                            document.getElementById('map_data_info').style.display = 'block';
                            addMarkerData(markerData, station);
                            updateMapInfo();
                        });

                        markerCount++;
                    }
                });
                console.log('마커 개수:' + markerCount);
            },
            error: function (request, status, error) {
                console.log("Error:", status, error);
            }
        });

        // 나의 위치로 이동하는 함수
        function moveToMyLocation() {
            navigator.geolocation.getCurrentPosition((position) => {
                let myLocation = new naver.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(myLocation);
            });
        }

        // GPS 아이콘을 클릭하면 나의 위치로 이동
        $('.gps_icon').click(function () {
            moveToMyLocation();
        });

        $('.bicycle_icon').click(function () {
            let gangLat = 37.49599969478604;
            let gangLng = 127.03292823149238;
            let gangLocation = new naver.maps.LatLng(gangLat, gangLng);
            map.setCenter(gangLocation);
        });

        $('.close_btn').click(function () {
            $('#map_data_info').hide();
        });

        // map_info를 제외한 바탕 클릭 시 #map_data_info 감추기
        $('#map_info').click(function (e) {
            if (!$(e.target).closest('#map_info').length) {
                $('#map_data_info').hide();
            }
        });

        // 나의 위치 값 받아오기
        async function getLocation() {
            let XY = new Object();
            if (navigator.geolocation) {

                let promise = new Promise((resolve, rejected) => {
                    navigator.geolocation.getCurrentPosition((position) => {
                        resolve(position);
                    });
                });

                let position = await promise;
                XY.lat = position.coords.latitude;
                XY.lng = position.coords.longitude;

            }
            return XY;
        }
    });

</script>


</html>