<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>insert</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script th:inline="javascript">
    window.onload = function () {
      document.querySelector("#backList").onclick=backFunc;
      document.querySelector("#updateInfo").onclick=updateForm;
      document.querySelector("#deleteInfo").onclick=deleteForm;
    }
    function backFunc(){
      console.log("목록 요청");
      location.href = "/board/list";
    }
    function updateForm(){
      console.log("수정 요청");
      const postno = [[${board.postno}]];
      location.href = "/board/update/" + postno;
    }
    function deleteForm() {
      console.log("삭제 요청");
      const postno = [[${board.postno}]];
      location.href = "/board/delete/" + postno;
    }
  </script>
</head>
<body style="margin: 20px;">
<h3 style="text-align: center;">상세보기</h3>
<table style="width: 95%;" class="table">
  <tr>        <td>순번</td>
    <td th:text="${board.boardno}"></td>
  </tr>    <tr>        <td>글제목</td>
  <td th:text="${board.boardtitle}"></td>
</tr>    <tr>        <td>작성자</td>
  <!--        <td th:text="${board.postco}"></td>-->
</tr>
  <tr>        <td>작성일자</td>
    <td th:text="${#temporals.format(board.created, 'yyyy-MM-dd a HH:mm')}"></td>
  </tr>    <tr>        <td>조회수</td>
  <td th:text="${board.boardcnt}"></td>
</tr>    <tr>        <td>글내용</td>
  <td>            <textarea th:text="${board.boardcontent}" rows="5" style="width: 99%;" name="boardcontent" readonly></textarea>
  </td>    </tr>    <tr>        <td colspan="2" style="text-align: center;">
  <input type="button" value="목록" id="backList" class="btn btn-primary"/>
  <input type="button" value="수정하기" id="updateInfo" class="btn btn-primary"/>
  <input type="button" value="삭제하기" id="deleteInfo" class="btn btn-primary"/>
</td>    </tr></table>
</body>
</html>