<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>글 작성</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body style="margin: 20px;">
<h3 style="text-align: center;">글 작성하기</h3>
<form action="/board/write" method="post">
  <table style="width: 95%;" class="table">
    <tr>            <td>글제목</td>
      <td><input type="text" name="boardtitle"/></td>
    </tr>        <tr>            <td>글내용</td>
    <td>                <textarea rows="5" style="width: 99%;" name="boardcontent"></textarea>
    </td>        </tr>        <tr>            <td>파일 업로드</td>
    <td><input type="file" name="boardupload"/></td>
  </tr>        <tr>            <td colspan="2" style="text-align: center;">
    <input type="submit" value="작성하기" class="btn btn-primary"/>
  </td>        </tr>    </table></form>
</body>
</html>