<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body style="margin: 20px;">
<div style="width: 95%; text-align: center;">
    <h3>게시판 목록</h3>
</div>
<!--<a href="/board/insert/save">작성하기</a>-->
<table style="width: 95%;" class="table">
    <th>순번</th>
    <th>제목</th>
    <th>작성일</th>
    <th>조회수</th>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.posttitle}"></td>
        <td th:text="${board.postcontent}"></td>
        <td th:text="${#temporals.format(board.created, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${board.postcnt}"></td>
    </tr>
</table>
</body>
</html>