<!DOCTYPE html>
<html>
<head>
    <title>Bike Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="myChart" width="10%" height="10%"></canvas>
    <script>
        // Django로부터 전달받은 JSON 데이터
        const chartData = JSON.parse('{{ chart_data_json | escapejs }}');

        // Chart 생성 및 설정
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: chartData.labels,
                datasets: [{
                    label: 'Bike Usage',
                    data: chartData.data,
                    // 그래프 스타일 등 설정 가능
                }]
            },
            options: {
                // 그래프 옵션 설정
            }
        });
    </script>
</body>
</html>
